:root {
  --black-color: #222222;
  --black2-color: #222224;
  --lightpink-color: #F1E4E6;
  --pink-color: #F16D7F;
  --grey-color: #E8E8E8;
  --grey2-color: #F8F8F8;
  --grey3-color: #E1E1E1;
  --darkgrey-color: #6F6E6E;
  --darkgrey2-color: #5D5D5D;
  --darkgrey3-color: #636363;
  --white-color: #FFFFFF;
  --white2-color: #FBFBFB;
  --white3-color: #F8F3F4;
}

/*Catalog*/
.catalog {
  height: 148px;
  background-color: var(--white3-color);
}

.catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.catalog__name {
  text-transform: uppercase;
  color: var(--pink-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.catalog__list {
  display: flex;
}

.catalog__item {
  margin-left: 7px;
}

.catalog__link {
  text-decoration: none;
  text-transform: uppercase;
  color:  var(--darkgrey3-color);
}

.catalog__link:hover {
  text-decoration: underline;
  color: var(--pink-color);
}

.catalog__link--active {
  color: var(--pink-color);
  font-weight: 700;
}

.catalog__link--active:hover {
  text-decoration: none;
}

/*Filter*/
.filters {
  position: relative;
  height: 82px;
  display: flex;
  justify-content: start;
  text-align: left;
  padding-top: 38px;
}

.filter {
  position: relative;
  width: 360px;
  height: 518px;
  z-index: 1;
}

.filter[open] {
  box-shadow: 6px 6px 14px rgba(98, 81, 81, 0.25), -1px -1px 10px rgba(98, 81, 81, 0.2);
  background-color: var(--white-color);
}

.filter[open] .filter__name {
  color: var(--pink-color);
}

.filter[open] .filter__name::after {
  background-image: url(../img/filter-pink.svg);
}

.filter__name {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 13px;
  padding-right: 273px;
  padding-left: 16px;
}

.filter__name::-webkit-details-marker {
  display: none;
}

.filter__name::after {
  background-image: url(../img/filter.svg);
  content: '';
  float: right;
  width: 15px;
  height: 10px;
  margin-top: 3px;
  margin-left: 11px;
}

.category {
  position: relative;
}

.category[open] .category__name {
  color: var(--pink-color);
}

.category__name {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--darkgrey-color);
  padding-top: 24px;
  padding-left: 34px;
  padding-bottom: 25px;
}

.category__name::-webkit-details-marker {
  display: none;
}

.category__name::before {
  position: absolute;
  content: '';
  width: 322px;
  height: 37px;
  border-left: 5px solid var(--pink-color);
  border-bottom: 1px solid var(--grey-color);
  left: 16px;
  top: 15px;
}

.category__item {
  color: var(--darkgrey-color);
  padding-top: 11px;
  padding-left: 34px;
}

.greyfilters {
  display: flex;
}

.greyfilter {
  text-transform: uppercase;
  color: var(--darkgrey-color);
  padding-top: 13px;
  margin-left: 28px;
}

.greyfilter::-webkit-details-marker {
  display: none;
}

.greyfilter::after {
  background-image: url(../img/arrow.svg);
  content: '';
  float: right;
  width: 10px;
  height: 5px;
  margin-top: 6px;
  margin-left: 10px;
}