@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Общие стили*/
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

button:active,
button:focus {
  outline: none;
}

/* Placeholder - текст подсказки*/
::placeholder {
  /* Modern browser */
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;
  opacity: 1;
}

::-webkit-input-placeholder {
  /* Google Chrome, Opera, Safari, Android */
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;
  opacity: 1;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;
  opacity: 1;
}

:-ms-input-placeholder {
  /* IE */
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;
  opacity: 1;
}

/*Header*/
.header {
  position: relative;
  height: 75px;
  background-color: #222224;
  /*Header - Navigation*/
}

.header .header__logo {
  width: 44px;
  height: 38px;
  margin-right: 16px;
}

.header .header__button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  margin-left: 25px;
}

.header .icon {
  fill: #E8E8E8;
}

.header .icon:hover {
  fill: #F16D7F;
}

.header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header .header__logo-wrp,
.header .header__list {
  display: flex;
  align-items: center;
}

.header .header__cart {
  position: relative;
}

.header .header__cart-circle {
  position: absolute;
  top: -10px;
  left: 50px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  color: #FFFFFF;
  text-align: center;
  padding-top: 2px;
}

.header .header__nav {
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 6px 6px 14px rgba(98, 81, 81, 0.25), -1px -1px 10px rgba(98, 81, 81, 0.2);
  width: 230px;
  height: 765px;
  left: 1370px;
  top: 75px;
  text-align: left;
  z-index: 1;
  display: none;
}

.header .header__nav-cross {
  padding: 16px 0 9px 203px;
}

.header .header__nav-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  padding: 0 0 4px 34px;
}

.header .header__nav-item {
  padding: 20px 0 0 33px;
}

.header .header__nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.header .header__nav-link:hover {
  text-decoration: underline;
}

.header .header__nav-link:active {
  text-decoration: underline;
  color: #6F6E6E;
}

.header .header__nav-sublist {
  padding-top: 11px;
  padding-left: 22px;
}

.header .header__nav-sublink {
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.header .header__nav-sublink:hover {
  text-decoration: underline;
}

.header .header__nav-sublink:active {
  text-decoration: underline;
  color: #F16D7F;
}

@media (max-width: 1250px) {
  .header__container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 500px) {
  .header__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 375px) {
  .header__login,
  .header__cart {
    display: none;
  }
}

/*Main - name*/
.name {
  display: flex;
  background-color: #F1E4E6;
}

.name .name__img {
  width: 800px;
  height: 765px;
}

.name .name__content {
  width: 100%;
}

.name .name__header {
  position: relative;
  padding-left: 16px;
  margin: 335px 300px 0 76px;
}

.name .name__header::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
}

.name h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

.name .name__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
}

.name .colortext {
  color: #F16D7F;
}

@media (max-width: 1599px) {
  .name .name__img {
    width: 50%;
    height: 50%;
  }
  .name .name__header {
    margin: 300px 230px 0 66px;
  }
  .name h1 {
    font-weight: 900;
    font-size: 46px;
    line-height: 53px;
  }
  .name .name__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
  }
}

@media (max-width: 1340px) {
  .name .name__header {
    margin: 250px 0 0 52px;
  }
}

@media (max-width: 1100px) {
  .name .name__header {
    margin: 180px 0 0 52px;
  }
  .name h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }
  .name .name__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 768px) {
  .name .name__header {
    margin: 138px 0 0 52px;
  }
}

@media (max-width: 740px) {
  .name .name__img {
    display: none;
  }
  .name .name__content {
    height: 363px;
  }
}

@media (max-width: 410px) {
  .name .name__header {
    margin: 148px 16px 0 67px;
  }
  .name h1 {
    font-weight: 900;
    font-size: 38px;
    line-height: 45px;
  }
  .name .name__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 370px) {
  .name h1 {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
  }
  .name .name__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
}

/*Main - stock*/
.stock {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 97px;
  height: 470px;
}

.stock .stock__offer {
  width: 360px;
  height: 260px;
  position: relative;
}

.stock .stock__offer-last {
  width: 1140px;
  height: 180px;
}

.stock .stock__item {
  position: absolute;
  text-align: center;
  width: 360px;
  height: 260px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.stock .stock__item:hover {
  background-color: rgba(244, 244, 244, 0.2);
}

.stock .stock__item-last {
  width: 1140px;
  height: 180px;
}

.stock .stock__back {
  position: absolute;
  width: 360px;
  height: 260px;
}

.stock .stock__back-last {
  width: 1140px;
  height: 180px;
}

.stock .stock__back-last2 {
  display: none;
}

.stock .stock__img-last2 {
  display: none;
}

.stock .stock__offer-text {
  color: #FFFFFF;
  padding-top: 105px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.stock .stock__offer-lasttext {
  padding-top: 65px;
}

.stock .stock__offer-for {
  color: #F16D7F;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 1599px) {
  .stock {
    margin-top: 19px;
    margin-bottom: 155px;
  }
  .stock .stock__offer {
    width: 32%;
    height: auto;
  }
  .stock .stock__offer-last {
    width: 100%;
    height: auto;
  }
  .stock .stock__item {
    width: 100%;
    height: 100%;
  }
  .stock .stock__item-last {
    width: 100%;
    height: 100%;
  }
  .stock .stock__back {
    width: 100%;
    height: auto;
  }
  .stock .stock__back-last {
    width: 100%;
    height: auto;
  }
  .stock .stock__img {
    width: 100%;
    height: auto;
  }
  .stock .stock__img-last {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1172px) {
  .stock {
    margin: 19px 16px 155px 16px;
    height: 100%;
  }
  .stock .stock__offer {
    margin-bottom: 19px;
  }
  .stock .stock__offer-last {
    margin-bottom: 0;
  }
  .stock .stock__offer-text {
    padding-top: 105px;
  }
  .stock .stock__offer-lasttext {
    padding-top: 65px;
  }
}

@media (max-width: 860px) {
  .stock .stock__offer-text {
    padding-top: 58px;
  }
  .stock .stock__offer-lasttext {
    padding-top: 33px;
  }
}

@media (max-width: 700px) {
  .stock {
    justify-content: center;
    margin: 64px 16px 64px 16px;
    height: 100%;
  }
  .stock .stock__offer {
    width: 360px;
    margin-bottom: 32px;
  }
  .stock .stock__offer-last {
    width: 360px;
  }
  .stock .stock__offer-text {
    padding-top: 100px;
  }
  .stock .stock__offer-lasttext {
    padding-top: 30px;
  }
  .stock .stock__back-last1 {
    display: none;
  }
  .stock .stock__back-last2 {
    display: block;
  }
  .stock .stock__img-last1 {
    display: none;
  }
  .stock .stock__img-last2 {
    display: block;
  }
}

@media (max-width: 330px) {
  .stock .stock__offer-text {
    padding-top: 70px;
  }
  .stock .stock__offer-lasttext {
    padding-top: 15px;
  }
}

@media (max-width: 260px) {
  .stock .stock__offer-text {
    padding-top: 40px;
  }
  .stock .stock__offer-lasttext {
    padding-top: 8px;
  }
}

/*Main - featured*/
.featured {
  text-align: center;
}

.featured .featured__name {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222224;
}

.featured .featured__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-top: 6px;
  margin-bottom: 48px;
}

.featured .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured .feature {
  position: relative;
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  z-index: 1;
}

.featured .feature:hover .feature__img {
  filter: brightness(55%);
}

.featured .feature:hover .feature__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured .feature__button {
  position: absolute;
  display: none;
  width: 138px;
  height: 43px;
  top: 188px;
  left: 111px;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 0;
}

.featured .feature__button:hover {
  background-color: #F16D7F;
}

.featured .feature__button-text {
  font-weight: 400;
  margin-left: 11px;
}

.featured .feature-pic-2 {
  position: absolute;
  height: 400px;
  top: 8px;
  left: 108px;
}

.featured .feature__link {
  text-decoration: none;
}

.featured .feature__link:hover {
  text-decoration: underline;
}

.featured .feature__link:active {
  text-decoration: underline;
  color: #F16D7F;
}

.featured .feature__name {
  text-transform: uppercase;
  text-align: left;
  margin: 25px 0 13px 18px;
  color: #222224;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.featured .feature__name:active {
  color: #F16D7F;
}

.featured .feature__desc {
  text-align: left;
  margin: 0 18px 18px 18px;
  color: #5D5D5D;
}

.featured .feature__desc:active {
  color: #F16D7F;
}

.featured .feature__price {
  text-align: left;
  margin-left: 18px;
  color: #F16D7F;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.featured .browse {
  display: flex;
  justify-content: center;
}

.featured .browse__button {
  width: 211px;
  height: 47px;
  margin-top: 18px;
  margin-bottom: 96px;
  color: #F16D7F;
  outline: 1px solid #F16D7F;
  text-decoration: none;
  text-align: center;
}

.featured .browse__button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.featured .browse__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 14px;
}

@media (max-width: 1200px) {
  .featured {
    margin-left: 16px;
    margin-right: 16px;
  }
  .featured .feature {
    width: 31.6%;
    height: auto;
    margin-bottom: 16px;
  }
  .featured .feature__img {
    width: 100%;
    height: auto;
  }
  .featured .feature-pic-2 {
    width: 40%;
    height: auto;
    top: 4px;
    bottom: 4px;
  }
  .featured .feature-pic-2-back {
    width: 100%;
    height: auto;
  }
  .featured .feature__price {
    margin-bottom: 20px;
  }
  .featured .browse__button {
    margin-top: 16px;
    margin-bottom: 65px;
  }
}

@media (max-width: 1100px) {
  .featured .feature__button {
    top: 175px;
    left: 98px;
  }
  .featured .feature-pic-2 {
    left: 100px;
  }
}

@media (max-width: 1000px) {
  .featured .feature__button {
    top: 150px;
    left: 80px;
  }
  .featured .feature-pic-2 {
    left: 82px;
  }
}

@media (max-width: 900px) {
  .featured .feature__button {
    top: 130px;
    left: 60px;
  }
  .featured .feature-pic-2 {
    left: 68px;
  }
}

@media (max-width: 820px) {
  .featured .feature__button {
    top: 110px;
    left: 50px;
  }
}

@media (max-width: 768px) {
  .featured .featured__subtitle {
    margin-bottom: 74px;
  }
  .featured .feature {
    width: 48.9%;
  }
  .featured .feature__button {
    top: 188px;
    left: 111px;
  }
  .featured .feature-pic-2 {
    left: 100px;
  }
}

@media (max-width: 700px) {
  .featured {
    margin-left: 8px;
    margin-right: 8px;
  }
  .featured .features {
    justify-content: center;
  }
  .featured .featured__subtitle {
    margin-bottom: 65px;
  }
  .featured .feature {
    width: 360px;
  }
  .featured .feature__button {
    top: 188px;
    left: 111px;
  }
  .featured .feature-pic-2 {
    left: 108px;
  }
  .featured .browse__button {
    margin-top: 25px;
    margin-bottom: 96px;
  }
}

@media (max-width: 360px) {
  .featured .feature__button {
    top: 160px;
    left: 93px;
  }
  .featured .feature-pic-2 {
    left: 91px;
  }
}

@media (max-width: 330px) {
  .featured .feature__button {
    top: 140px;
    left: 73px;
  }
  .featured .feature-pic-2 {
    left: 73px;
  }
}

@media (max-width: 280px) {
  .featured .feature__button {
    top: 100px;
    left: 43px;
  }
  .featured .feature-pic-2 {
    left: 58px;
  }
}

/*Main - bonuses*/
.bonuses {
  height: 341px;
  background-color: #222224;
}

.bonuses .bonuses__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.bonuses .bonus {
  width: 30%;
  text-align: center;
}

.bonuses .bonus__link {
  text-decoration: none;
}

.bonuses .bonus__link:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.bonuses .bonus__link:active {
  text-decoration: underline;
  color: #F16D7F;
}

.bonuses .bonus__link:active .bonus__name {
  color: #F16D7F;
}

.bonuses .bonus__link:active .bonus__desc {
  color: #F16D7F;
}

.bonuses .bonus__img {
  margin-top: 103px;
  padding-bottom: 28px;
}

.bonuses .bonus__img-2 {
  padding-bottom: 19px;
}

.bonuses .bonus__img-3 {
  padding-bottom: 25px;
}

.bonuses .bonus__name {
  color: #FBFBFB;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

.bonuses .bonus__desc {
  color: #FBFBFB;
}

@media (max-width: 1000px) {
  .bonuses {
    height: auto;
  }
  .bonuses .bonuses__container {
    align-items: center;
    flex-direction: column;
    margin: 0 14px 0 14px;
  }
  .bonuses .bonus {
    width: 360px;
  }
  .bonuses .bonus__img {
    margin-top: 48px;
  }
  .bonuses .bonus__desc-last {
    margin-bottom: 64px;
  }
}

@media (max-width: 388px) {
  .bonuses .bonus {
    width: 100%;
  }
}

/*2-Catalog*/
.catalog {
  height: 148px;
  background-color: #F8F3F4;
}

.catalog .catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.catalog .catalog__name {
  text-transform: uppercase;
  color: #F16D7F;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.catalog .catalog__list {
  display: flex;
}

.catalog .catalog__item {
  margin-left: 7px;
}

.catalog .catalog__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;
}

.catalog .catalog__link:hover {
  text-decoration: underline;
  color: #F16D7F;
}

.catalog .catalog__link--active {
  color: #F16D7F;
  font-weight: 700;
}

.catalog .catalog__link--active:hover {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .catalog .catalog__header {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 760px) {
  .catalog .catalog__header {
    padding: 24px 8px 46px 8px;
    flex-direction: column;
  }
}

/*2-Catalog*/
/*Filters*/
.filters {
  position: relative;
  height: 82px;
  display: flex;
  justify-content: start;
  text-align: left;
  padding-top: 38px;
}

.filters .filter {
  position: relative;
  width: 360px;
  height: 518px;
}

.filters .filter[open] {
  box-shadow: 6px 6px 14px rgba(98, 81, 81, 0.25), -1px -1px 10px rgba(98, 81, 81, 0.2);
  background-color: #FFFFFF;
  z-index: 2;
}

.filters .filter[open] .filter__name {
  color: #F16D7F;
}

.filters .filter[open] .filter__name::after {
  background-image: url(../img/filter-pink.svg);
}

.filters .filter__name {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 13px;
  padding-right: 273px;
  padding-left: 16px;
  outline-style: none;
}

.filters .filter__name::-webkit-details-marker {
  display: none;
}

.filters .filter__name::after {
  background-image: url(../img/filter.svg);
  content: '';
  float: right;
  width: 15px;
  height: 10px;
  margin-top: 3px;
  margin-left: 11px;
}

.filters .category {
  position: relative;
}

.filters .category[open] .category__name {
  color: #F16D7F;
}

.filters .category__name {
  text-transform: uppercase;
  font-weight: 400;
  color: #6F6E6E;
  padding-top: 24px;
  padding-left: 34px;
  padding-bottom: 19px;
  outline-style: none;
}

.filters .category__name::-webkit-details-marker {
  display: none;
}

.filters .category__name::before {
  position: absolute;
  content: '';
  width: 322px;
  height: 37px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #E8E8E8;
  left: 16px;
  top: 15px;
}

.filters .category__item {
  color: #6F6E6E;
  padding-top: 11px;
  padding-left: 34px;
}

.filters .greyfilters {
  display: flex;
}

.filters .greyfilter {
  position: relative;
}

.filters .greyfilter__name {
  height: 17px;
  text-transform: uppercase;
  color: #6F6E6E;
  background-color: transparent;
  padding: 0;
  margin-top: 13px;
  margin-left: 28px;
  outline: none;
  border: none;
}

.filters .greyfilter__name::after {
  background-image: url(../img/arrow.svg);
  content: '';
  float: right;
  width: 10px;
  height: 5px;
  margin-top: 6px;
  margin-left: 10px;
}

.filters .greyfilter__name:hover + .greyfilter__list {
  display: block;
}

.filters .greyfilter__list {
  position: absolute;
  width: 75%;
  height: 103px;
  box-shadow: 6px 6px 14px rgba(98, 81, 81, 0.25), -1px -1px 10px rgba(98, 81, 81, 0.2);
  background-color: #FFFFFF;
  top: 30px;
  left: 27px;
  padding: 9px;
  z-index: 2;
  display: none;
}

.filters .greyfilter__list:hover {
  display: block;
}

.filters .greyfilter__list-last {
  width: 120%;
}

.filters .greyfilter__text {
  margin-left: 5px;
}

.filters .greyfilter__item {
  color: #6F6E6E;
  padding-bottom: 9px;
}

/*3-Registration*/
.page {
  height: 148px;
  background-color: #F8F3F4;
}

.page .page__name {
  text-transform: uppercase;
  color: #F16D7F;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 59px;
}

.reg {
  display: flex;
  margin-top: 64px;
  margin-bottom: 96px;
}

.reg .reg__form {
  width: 45%;
}

.reg .reg__fieldset {
  border: none;
  font-weight: 300;
  font-size: 17px;
  line-height: 19px;
  color: #5D5D5D;
}

.reg .reg__fieldset-input {
  width: 339px;
  height: 45px;
  border: 1px solid #A4A4A4;
  background-color: transparent;
  padding-left: 17px;
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border-radius: 0;
  margin-top: 20px;
}

.reg .reg__fieldset-input:hover {
  outline: none;
  border: 1px solid rgba(241, 109, 127, 0.5);
}

.reg .reg__fieldset-input:focus, .reg .reg__fieldset-input:active {
  outline: none;
  border: 1px solid #F16D7F;
}

.reg .label-radio {
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  color: #5D5D5D;
  margin: 33px 0 35px 47px;
}

.reg .label-radio::before {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  top: -6px;
  left: -27px;
}

.reg .label-radio1 {
  margin: 33px 0 35px 27px;
}

.reg input[type="radio"]:checked + .label-radio::before {
  background-color: #E1E1E1;
}

.reg .reg__text {
  width: 360px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}

.reg .join-button {
  width: 167px;
  height: 48px;
  color: #FFFFFF;
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  text-transform: uppercase;
  text-align: left;
  padding-left: 29px;
  vertical-align: middle;
}

.reg .join-button:hover {
  color: #F16D7F;
  background-color: transparent;
}

.reg .join-button:hover .join-text::after {
  background-image: url(../img/arrow-2pink.svg);
  fill: #F16D7F;
}

.reg .join-text {
  position: relative;
  font-weight: 400;
}

.reg .join-text::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 10px;
  background-image: url(../img/arrow-2.svg);
  top: 2px;
  left: 88px;
}

.reg .reg__desc {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  width: 55%;
}

.reg .reg__title {
  text-transform: uppercase;
  margin-bottom: 22px;
}

.reg .reg__subtitle {
  margin-bottom: 21px;
}

.reg .reg__bonus-item {
  position: relative;
  margin-bottom: 16px;
  padding-left: 43px;
}

.reg .reg__bonus-item::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 16px;
  background-image: url(../img/mark.svg);
  top: 7px;
  left: 1px;
}

@media (max-width: 1200px) {
  .page .page__name {
    padding-left: 16px;
    padding-right: 16px;
  }
  .reg {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 1000px) {
  .reg {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 40px;
  }
  .reg .reg__form {
    width: 50%;
  }
  .reg .reg__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    width: 50%;
  }
  .reg .reg__title {
    margin-bottom: 32px;
  }
}

@media (max-width: 800px) {
  .reg .reg__form {
    width: 53%;
  }
  .reg .reg__desc {
    width: 47%;
  }
}

@media (max-width: 760px) {
  .page .page__name {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
  }
  .reg {
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
  }
  .reg .reg__form {
    width: 50%;
  }
  .reg .reg__desc {
    width: 50%;
    margin-top: 40px;
  }
}

@media (max-width: 700px) {
  .reg .reg__form {
    width: 70%;
  }
  .reg .reg__desc {
    width: 70%;
  }
}

@media (max-width: 520px) {
  .reg .reg__form {
    width: 100%;
  }
  .reg .reg__fieldset-input {
    width: 329px;
  }
  .reg .reg__text {
    width: 100%;
  }
  .reg .reg__desc {
    width: 100%;
  }
}

@media (max-width: 374px) {
  .reg .reg__fieldset-input {
    width: 300px;
  }
}

@media (max-width: 350px) {
  .reg .reg__fieldset-input {
    width: 230px;
  }
}

.product-bs .slide {
  background-color: #F8F8F8;
}

.card .card-title {
  color: #F16D7F;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 12px;
}

.card .split {
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  margin-bottom: 12px;
}

.card .card-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.card .card-text {
  margin-bottom: 32px;
  color: #6F6E6E;
}

.card .card-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-bottom: 130px;
}

.card .btn-filter {
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  border: none;
  padding: 0;
}

.card .btn-filter:hover {
  opacity: 0.7;
}

.card .dropdown-menu {
  min-width: 7rem;
}

.card .dropdown-item {
  color: #6F6E6E;
}

.card .btn-pink {
  width: 211px;
  height: 45px;
  background-color: transparent;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 0;
  margin-bottom: 48px;
}

.card .btn-pink:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.card .btn-pink:hover .cart-icon {
  fill: #FFFFFF;
}

.card .cart-icon {
  fill: #F16D7F;
}

.card .btn-pink__text {
  font-weight: 400;
  margin-left: 23px;
}

.featured-bs {
  margin-top: 65px;
}

.featured-bs .row {
  --bs-gutter-x: 0;
}

.featured-bs .features-bs {
  margin-bottom: 64px;
}

.featured-bs .feature-bs {
  position: relative;
  max-width: 350px;
  height: auto;
  background-color: #F8F8F8;
  z-index: 1;
}

.featured-bs .feature-bs:hover .feature-bs__img {
  filter: brightness(55%);
}

.featured-bs .feature-bs:hover .feature-bs__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-bs .feature-bs__button {
  position: absolute;
  display: none;
  width: 138px;
  height: 43px;
  top: 188px;
  left: 111px;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 0;
}

.featured-bs .feature-bs__button:hover {
  background-color: #F16D7F;
}

.featured-bs .feature-bs__button-text {
  font-weight: 400;
  margin-left: 11px;
}

.featured-bs .feature-bs__link {
  text-decoration: none;
}

.featured-bs .feature-bs__link:hover {
  text-decoration: underline;
}

.featured-bs .feature-bs__link:active {
  text-decoration: underline;
  color: #F16D7F;
}

.featured-bs .feature-bs__name {
  text-transform: uppercase;
  text-align: left;
  margin: 25px 0 13px 18px;
  color: #222224;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.featured-bs .feature-bs__name:active {
  color: #F16D7F;
}

.featured-bs .feature-bs__desc {
  text-align: left;
  margin: 0 18px 18px 18px;
  color: #5D5D5D;
}

.featured-bs .feature-bs__desc:active {
  color: #F16D7F;
}

.featured-bs .feature-bs__price {
  text-align: left;
  margin-left: 18px;
  color: #F16D7F;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer .subscribe__button-bs {
  position: absolute;
  right: 0;
  border: none;
  width: 100px;
  height: 45px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  background-color: #F16D7F;
  border-radius: 0 23px 23px 0;
}

.footer .footer__bottom-bs {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer__icon-bs {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  margin-right: 7px;
  text-align: center;
  padding-top: 6px;
}

.footer .footer__icon-bs:hover {
  background-color: #F16D7F;
}

.footer .footer__icon-bs:hover .social-icon {
  fill: #FFFFFF;
}

@media (min-width: 1200px) {
  .mt-n5 {
    margin-top: -64px;
  }
}

@media (max-width: 600px) {
  .card .card-subtitle {
    margin-bottom: 32px;
  }
  .card .card-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  .card .card-price {
    margin-bottom: 82px;
  }
  .card .btn-filter {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  .footer .footer__bottom-bs {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .featured-bs .features-bs {
    margin-bottom: 128px;
  }
  .card .btn-pink {
    margin-bottom: 113px;
  }
}

@keyframes move {
  0% {
    margin: 0 0 40px -850px;
  }
  100% {
    margin: 0 0 40px 0;
  }
}

.cart .cart__container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
}

.cart .cart__products {
  width: 57%;
}

.cart .cart__item {
  position: relative;
  width: 652px;
  box-shadow: 6px 6px 14px rgba(98, 81, 81, 0.25), -1px -1px 10px rgba(98, 81, 81, 0.2);
  margin-bottom: 40px;
  display: flex;
  justify-content: start;
  animation: move 1 1s;
}

.cart .cart__item-desc {
  padding-top: 22px;
  padding-left: 31px;
}

.cart .cart__item-cross {
  position: absolute;
  right: 28px;
}

.cart .cart__item-name {
  width: 210px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.cart .cart__item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 6px;
  color: #4D4D4D;
}

.cart .colortext {
  color: #F16D7F;
}

.cart .text-margin {
  margin-left: 24px;
}

.cart .text-bold {
  font-weight: 400;
}

.cart .cart__buttons {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.cart .cart-button {
  background-color: transparent;
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
  color: #4D4D4D;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 1s, border 1s;
}

.cart .cart-button:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cart .cart-button__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.cart .cart__order {
  width: 43%;
  margin-left: 128px;
}

.cart .cart__fieldset {
  margin-bottom: 24px;
  border: none;
}

.cart .cart__fieldset-name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.cart .cart__fieldset-input {
  width: 338px;
  height: 45px;
  border: 1px solid #A4A4A4;
  background-color: transparent;
  padding-left: 17px;
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border-radius: 0;
  margin-top: 20px;
}

.cart .cart__fieldset-input:hover {
  outline: none;
  border: 1px solid rgba(241, 109, 127, 0.5);
}

.cart .cart__fieldset-input:focus, .cart .cart__fieldset-input:active {
  outline: none;
  border: 1px solid #F16D7F;
}

.cart .get-button {
  background-color: transparent;
  border: 1px solid #A4A4A4;
  padding: 10px 14px;
  color: #4D4D4D;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 57px;
  transition: color 1s, border 1s;
}

.cart .get-button:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cart .get-button__text {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.cart .cart__order-total {
  width: 276px;
  height: 133px;
  background-color: #F1E4E6;
  padding: 39px 42px 42px 42px;
}

.cart .cart__order-subtotal {
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 12px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.cart .cart__order-grandtotal {
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 21px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.cart .split {
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  margin-bottom: 17px;
}

.cart .proceed-button {
  width: 100%;
  color: #FFFFFF;
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding: 15px 42px;
  transition: background-color 1s;
}

.cart .proceed-button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
}

/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .footer__subscribe {
  position: relative;
  height: 448px;
  background-image: linear-gradient(180deg, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/subscribe-img.jpg);
}

.footer .footer__mobile {
  position: absolute;
  width: 100%;
  height: auto;
  display: none;
}

.footer .subscribe {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 2;
  margin-top: 87px;
}

.footer .subscribe__quote {
  width: 30%;
}

.footer .subscribe__quote-photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.footer .subscribe__quote-text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer .subscribe__form {
  width: 50%;
}

.footer .subscribe__form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
}

.footer .subscribe__form-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.footer .mail {
  display: inline-flex;
  position: relative;
}

.footer input {
  width: 323px;
  height: 45px;
  border: 1px solid #E1E1E1;
  background-color: #E1E1E1;
  padding-left: 19px;
  vertical-align: middle;
  color: #222224;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  border-radius: 23px;
}

.footer input:hover {
  outline: none;
  border: 1px solid rgba(241, 109, 127, 0.5);
}

.footer input:focus, .footer input:active {
  outline: none;
  border: 1px solid #F16D7F;
}

.footer .subscribe__button {
  position: absolute;
  right: 0;
  border: none;
  width: 100px;
  height: 49px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  background-color: #F16D7F;
  border-radius: 0 23px 23px 0;
}

.footer .footer__social {
  height: 75px;
  background-color: #222224;
}

.footer .footer__bottom {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .copyright {
  color: #FBFBFB;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer .footer__icons {
  display: flex;
}

.footer .footer__icon {
  width: 32px;
  height: 24px;
  background-color: #FFFFFF;
  margin-right: 7px;
  text-align: center;
  padding-top: 8px;
}

.footer .footer__icon:hover {
  background-color: #F16D7F;
}

.footer .footer__icon:hover .social-icon {
  fill: #FFFFFF;
}

.footer .social-icon {
  fill: #222224;
}

@media (max-width: 1204px) {
  .footer .subscribe {
    flex-direction: column;
    margin-top: 27px;
  }
  .footer .subscribe__quote {
    width: 50%;
  }
  .footer .subscribe__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
  }
  .footer .footer__bottom {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 768px) {
  .footer .footer__subscribe {
    position: relative;
    height: 693px;
    background-image: linear-gradient(180deg, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/subscribe-img-tablet.jpg);
  }
  .footer .subscribe {
    margin-top: 54px;
  }
  .footer .subscribe__form {
    margin-top: 59px;
  }
}

@media (max-width: 730px) {
  .footer .subscribe__quote {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .footer .subscribe__quote {
    width: 100%;
  }
  .footer .subscribe__quote-text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .footer .subscribe__form-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  .footer input {
    width: 303px;
  }
  .footer .footer__social {
    height: 143px;
  }
  .footer .footer__bottom {
    flex-direction: column-reverse;
    margin-left: 16px;
    margin-right: 16px;
  }
  .footer .copyright {
    margin-bottom: 9px;
    text-align: center;
  }
  .footer .footer__icons {
    margin-top: 43px;
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .footer .footer__subscribe {
    position: relative;
    height: 550px;
    background-image: linear-gradient(180deg, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/subscribe-img-mobile.jpg);
  }
}

@media (max-width: 360px) {
  .footer input {
    width: 253px;
  }
}
/*# sourceMappingURL=style.css.map */