:root {
  --black-color: #222222;
  --black2-color: #222224;
  --lightpink-color: #F1E4E6;
  --pink-color: #F16D7F;
  --grey-color: #E8E8E8;
  --grey2-color: #F8F8F8;
  --grey3-color: #E1E1E1;
  --grey4-color: #b1b1b1;
  --grey5-color: #a4a4a4;
  --darkgrey-color: #6F6E6E;
  --darkgrey2-color: #5D5D5D;
  --darkgrey3-color: #636363;
  --white-color: #FFFFFF;
  --white2-color: #FBFBFB;
  --white3-color: #F8F3F4;
}

/*Registration*/
.page {
  height: 148px;
  background-color: var(--white3-color);
}

.page__name {
  text-transform: uppercase;
  color: var(--pink-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 59px;
}

.reg {
  display: flex;
  margin-top: 64px;
  margin-bottom: 96px;
}

.reg__form {
  width: 45%;
}

.reg__fieldset {
  border: none;
  font-size: 17px;
  line-height: 19px;
  color: var(--darkgrey2-color);
}

.reg__fieldset-input {
  width: 339px;
  height: 45px;
  border: 1px solid var(--grey5-color);
  background-color: transparent;
  padding-left: 17px;
  color: var(--darkgrey2-color);
  font-size: 14px;
  font-weight: 300;
  border-radius: 0;
  margin-top: 20px;
}

.reg__fieldset-input:focus {
  border: 1px solid var(--grey5-color);
}

.label-radio {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  color: var(--darkgrey2-color);
  margin: 33px 0 35px 47px;
}

.label-radio1 {
  margin: 33px 0 35px 27px;
}

.label-radio::before {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  border: 1px solid var(--grey5-color);
  border-radius: 50%;
  top: -6px;
  left: -27px;
}

input[type="radio"]:checked+.label-radio::before {
  background-color: var(--grey3-color);
}

.reg__text {
  width: 360px;
  color: var(--grey4-color);
  margin-top: 15px;
  margin-bottom: 39px;
}

.join__button {
  width: 167px;
  height: 48px;
  color: var(--white-color);
  border: 1px solid var(--pink-color);
  background-color: var(--pink-color);
  text-transform: uppercase;
  text-align: left;
  padding-left: 29px;
  vertical-align: middle;
}

.join__button:hover {
  color: var(--pink-color);
  background-color: transparent;
}

.join__button:hover .join__text::after {
  background-image: url(../img/arrow-2pink.svg);
  fill: var(--pink-color);
}

.join__text {
  position: relative;
  font-weight: 400;
}

.join__text::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 10px;
  background-image: url(../img/arrow-2.svg);
  top: 2px;
  right: 18px;
}

.reg__desc {
  font-size: 24px;
  line-height: 29px;
  width: 55%;
}

.reg__title {
  text-transform: uppercase;
  margin-bottom: 22px;
}

.reg__subtitle {
  margin-bottom: 21px;
}

.reg__bonus-item {
  position: relative;
  margin-bottom: 16px;
  padding-left: 43px;
}

.reg__bonus-item::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 16px;
  background-image: url(../img/mark.svg);
  top: 7px;
  left: 1px;
}