:root {
  --black-color: #222222;
  --black2-color: #222224;
  --lightpink-color: #F1E4E6;
  --pink-color: #F16D7F;
  --grey-color: #E8E8E8;
  --grey2-color: #F8F8F8;
  --grey3-color: #E1E1E1;
  --grey4-color: #b1b1b1;
  --darkgrey-color: #6F6E6E;
  --darkgrey2-color: #5D5D5D;
  --white-color: #FFFFFF;
  --white2-color: #FBFBFB;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  max-width: 1600px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

button:active,
button:focus {
  outline: none;
}

/*Header*/
.header {
  position: relative;
  height: 75px;
  background-color: var(--black-color);
}

.header__logo {
  width: 44px;
  height: 38px;
  margin-right: 16px;
}

.header__button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  margin-left: 25px;
}

.icon {
  fill: var(--grey-color);
}

.icon:hover {
  fill: var(--pink-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo-wrp,
.header__list {
  display: flex;
  align-items: center;
}

.header__cart {
  position: relative;
}

.header__cart-circle {
  position: absolute;
  top: -10px;
  left: 50px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: var(--pink-color);
  color: var(--white-color);
  text-align: center;
  padding-top: 2px;
}

/*Header - Navigation*/
.header__nav {
  position: absolute;
  background-color: var(--white-color);
  box-shadow: 6px 6px 14px rgba(98, 81, 81, 0.25), -1px -1px 10px rgba(98, 81, 81, 0.2);
  width: 230px;
  height: 765px;
  left: 1370px;
  top: 75px;
  text-align: left;
  z-index: 1;
}

.header__nav-cross {
  padding: 16px 0 9px 203px;
}

.header__nav-title {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black-color);
  padding: 0 0 4px 34px;
}

.header__nav-item {
  padding: 20px 0 0 33px;
}

.header__nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--pink-color);
}

.header__nav-link:hover {
  text-decoration: underline;
}

.header__nav-link:active {
  text-decoration: underline;
  color: var(--darkgrey-color);
}

.header__nav-sublist {
  padding-top: 11px;
  padding-left: 22px;
}

.header__nav-sublink {
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  color: var(--darkgrey-color);
}

.header__nav-sublink:hover {
  text-decoration: underline;
}

.header__nav-sublink:active {
  text-decoration: underline;
  color: var(--pink-color);
}

/*Main - name*/
.name {
  display: flex;
}

.name__img {
  width: 800px;
  height: 765px;
}

.name__content {
  width: 800px;
  height: 765px;
  background-color: var(--lightpink-color);
}

.name__header::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 100%;
  background-color: var(--pink-color);
  left: -12px;
}

.name__header {
  position: relative;
  padding-left: 16px;
  margin: 335px 300px 0 76px;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

.name__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
}

.colortext {
  color: var(--pink-color);
}

/*Main - stock*/
.stock {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 97px;
  height: 470px;
  justify-content: space-between;
  align-content: space-between;
}

.stock__offer {
  width: 360px;
  height: 260px;
  position: relative;
}

.stock__offer-last {
  width: 1140px;
  height: 180px;
}

.stock__item {
  position: absolute;
  text-align: center;
  width: 360px;
  height: 260px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.stock__item-last {
  width: 1140px;
  height: 180px;
}

.stock__item:hover {
  background-color: rgba(244, 244, 244, 0.2);;
}

.stock__back {
  position: absolute;
  width: 360px;
  height: 260px;
}

.stock__back-last {
  width: 1140px;
  height: 180px;
}

.stock__offer-text {
  color: var(--white-color);
  padding-top: 105px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.stock__offer-lasttext {
  padding-top: 65px;
}

.stock__offer-for {
  color: var(--pink-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

/*Main - featured*/
.featured {
  text-align: center;
}

.featured__name {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: var(--black-color);
}

.featured__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--darkgrey-color);
  margin-top: 6px;
  margin-bottom: 48px;
}

.features{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature {
  position: relative;
  width: 360px;
  height: 581px;
  background-color: var(--grey2-color);
  margin-bottom: 30px;
  z-index: 1;
}

.feature:hover .feature__img {
  filter: brightness(55%);
}

.feature:hover .feature__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__button {
  position: absolute;
  display: none;
  width: 138px;
  height: 43px;
  top: 188px;
  left: 111px;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  padding: 0;
}

.feature__button:hover {
  background-color: var(--pink-color);
}

.feature__button-text {
  font-weight: 400;
  margin-left: 11px;
}

.feature-pic2 {
  position: absolute;
  height: 400px;
  top: 8px;
  left: 108px;
}

.feature__link {
  text-decoration: none;
}

.feature__link:hover {
  text-decoration: underline;
}

.feature__link:active {
  text-decoration: underline;
  color: var(--pink-color);
}

.feature__name {
  text-transform: uppercase;
  text-align: left;
  margin: 25px 0 13px 18px;
  color: var(--black-color);
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.feature__name:active {
  color: var(--pink-color);
}

.feature__desc {
  text-align: left;
  margin: 0 18px 18px 18px;
  color: var(--darkgrey2-color);
}

.feature__desc:active {
  color: var(--pink-color);
}

.feature__price {
  text-align: left;
  margin-left: 18px;
  color: var(--pink-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.browse {
  display: flex;
  justify-content: center;
}

.browse__button {
  width: 211px;
  height: 47px;
  margin-top: 18px;
  margin-bottom: 96px;
  color: var(--pink-color);
  outline: 1px solid var(--pink-color);
  text-decoration: none;
  text-align: center;
}

.browse__button:hover {
  color: var(--white-color);
  background-color: var(--pink-color);
}

.browse__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 14px;
}

/*Main - bonuses*/
.bonuses {
  height: 341px;
  background-color: var(--black2-color);
}

.bonuses__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.bonus {
  width: 30%;
  text-align: center;
}

.bonus__link {
  text-decoration: none;
}

.bonus__link:hover {
  text-decoration: underline;
  color: var(--white-color);
}

.bonus__link:active {
  text-decoration: underline;
  color: var(--pink-color);
}

.bonus__link:active .bonus__name {
  color: var(--pink-color);
}

.bonus__link:active .bonus__desc {
  color: var(--pink-color);
}

.bonus__img {
  margin-top: 103px;
  padding-bottom: 28px;
}

.bonus__img-2 {
  padding-bottom: 19px;
}

.bonus__img-3 {
  padding-bottom: 25px;
}

.bonus__name {
  color: var(--white2-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

.bonus__desc {
  color: var(--white2-color);
}

/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
}

.footer-1 {
  position: relative;
  height: 448px;
  background-image: url(../img/layer-41.jpg);
}

.footer__back {
  position: absolute;
}

.subscribe {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 2;
  margin-top: 87px;
}

.subscribe__1 {
width: 30%;
}

.subscribe__1-foto {
width: 96px;
height: 96px;
border-radius: 50%;
}

.subscribe__1-text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.subscribe__2 {
  width: 50%;
}

.subscribe__2-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
}

.subscribe__2-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.mail {
  display: inline-flex;
  margin-left: 100px;
}

input {
  width: 323px;
  height: 47px;
  border: none;
  background-color: var(--grey3-color);
  padding-left: 19px;
  vertical-align: middle;
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  border-radius: 23px;
}

input:focus {
  border: none;
  outline: none;
}

.subscribe__button {
  position: relative;
  right: 100px;
  padding-left: 0;
  border: none;
  width: 100px;
  height: 49px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--pink-color);
  border-radius: 0 23px 23px 0;
}

.footer-2 {
  height: 75px;
  background-color: var(--black2-color);
}

.footer__bottom {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: var(--white2-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer__icons {
  display: flex;
}

.footer__icon {
  width: 32px;
  height: 24px;
  background-color: var(--white-color);
  margin-right: 7px;
  text-align: center;
  padding-top: 8px;
}

.footer__icon:hover {
  background-color: var(--pink-color);
}

.social-icon {
  fill: var(--black-color);
}

.footer__icon:hover .social-icon {
  fill: var(--white-color);
}

/* Placeholder - текст подсказки*/
::-webkit-input-placeholder { /* Google Chrome, Opera, Safari, Android */
  color: var(--grey4-color);
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;}

::-moz-placeholder { /* Firefox 19+ */
  color: var(--grey4-color);
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;}

:-moz-placeholder { /* Firefox 18- */
  color: var(--grey4-color);
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--grey4-color);
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;}

:-ms-input-placeholder { /* IE */
  color: var(--grey4-color);
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: none;}