@mixin flex-center-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

@mixin flex-wrap-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin flex-start {
  display: flex;
  justify-content: start;
}

@mixin font($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin placeholder {
  &::placeholder { /* Modern browser */
    @content; }
  &::-webkit-input-placeholder { /* Google Chrome, Opera, Safari, Android */
    @content; }
  &::-moz-placeholder { /* Firefox 19+ */
    @content; }
  &:-moz-placeholder { /* Firefox 18- */
    @content; }
  &::-ms-input-placeholder { /* Microsoft Edge */
    @content; }
  &:-ms-input-placeholder { /* IE */
    @content; }
}