$black-color: #222222;
$black2-color: #222224;
$lightpink-color: #F1E4E6;
$pink-color: #F16D7F;
$grey-color: #E8E8E8;
$grey2-color: #F8F8F8;
$grey3-color: #E1E1E1;
$grey4-color: #B1B1B1;
$grey5-color: #A4A4A4;
$darkgrey-color: #6F6E6E;
$darkgrey2-color: #5D5D5D;
$darkgrey3-color: #636363;
$darknight: #4D4D4D;
$white-color: #FFFFFF;
$white2-color: #FBFBFB;
$white3-color: #F8F3F4;

$desktop-width: 1600px;
$mobile-width: 430px;