/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .footer__subscribe {
    position: relative;
    height: 448px;
    background-image: url(../img/subscribe-img.jpg);
  }
  
  .footer__mobile {
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
  }

  .footer__back {
    position: absolute;
  }
  
  .subscribe {
    position: relative;
    @include flex-center-space-between;
    text-align: center;
    z-index: 2;
    margin-top: 87px;
  }

  .subscribe__quote {
  width: 30%;
  }
  
  .subscribe__quote-photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  }
  
  .subscribe__quote-text {
    margin-top: 30px;
    @include font(400, 20px, 24px);
  }
  
  .subscribe__form {
    width: 50%;
  }
  
  .subscribe__form-title {
    @include font(700, 24px, 38px);
    text-transform: uppercase;
  }
  
  .subscribe__form-text {
    @include font(400, 18px, 30px);
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  
  .mail {
    display: inline-flex;
    margin-left: 100px;
  }
  
  input {
    width: 323px;
    height: 45px;
    border: 1px solid $grey3-color;
    background-color: $grey3-color;
    padding-left: 19px;
    vertical-align: middle;
    color: $black-color;
    @include font(400, 16px, 17px);
    border-radius: 23px;
  
    &:focus {
      outline: none;
      border: 1px solid $pink-color;
    }
  
    &:active {
      outline: none;
      border: 1px solid rgba(241, 109, 127, 0.5);
    }    
  }
  
  .subscribe__button {
    position: relative;
    right: 100px;
    padding-left: 0;
    border: none;
    width: 100px;
    height: 49px;
    color: $white-color;
    @include font(400, 16px, 17px);
    background-color: $pink-color;
    border-radius: 0 23px 23px 0; 
  }
  
  .footer__social {
    height: 75px;
    background-color: $black2-color;
  }
  
  .footer__bottom {
    height: 100%;
    @include flex-center-space-between;
  }
  
  .copyright {
    color: $white2-color;
    @include font(400, 16px, 19px);
  }
  
  .footer__icons {
    display: flex;
  }
  
  .footer__icon {
    width: 32px;
    height: 24px;
    background-color: $white-color;
    margin-right: 7px;
    text-align: center;
    padding-top: 8px;
  
    &:hover {
      background-color: $pink-color;
    }
  
    &:hover .social-icon {
      fill: $white-color;
    }  
  }
  
  .social-icon {
    fill: $black-color;
  }
}

@media (max-width: 1204px) {
  .footer {
    .subscribe {
      flex-direction: column;
      margin-top: 27px;
    }

    .subscribe__quote {
      width: 50%;
      }
    
    .subscribe__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 48px;
      }

    .footer__bottom {
      margin-left: 32px;
      margin-right: 32px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    height: 693px;

    .footer__subscribe {
      position: relative;
      width: 100%;
      height: auto;
      background-image: none;
    }

    .footer__mobile {
      width: 100%;
      display: block;
    }
  
    .footer__back {
      display: none;
    }

    .subscribe {
      margin-top: 87px;
    }

    .subscribe__form {
      margin-top: 68px;
    }
      
    .footer__social {
      position: relative;
    }
  }
}

@media (max-width: 730px) {
  .footer {
    height: 642px;
      
    .subscribe__quote {
      width: 80%;
    } 
  }
}

@media (max-width: 660px) {
  .footer {
    height: 580px;
  }
}

@media (max-width: 600px) {
  .footer {
    height: 650px;

    .footer__mobile {
      width: auto;
      height: 550px;
    }

    .subscribe {
      margin-top: 54px;
    }
          
    .subscribe__quote {
      width: 100%;
    } 
      
    .subscribe__quote-text {
      margin-top: 30px;
      @include font(400, 18px, 22px);
    }
      
    .subscribe__form-text {
      @include font(400, 14px, 21px);
      text-transform: uppercase;
      margin-bottom: 22px;
    }

    input {
      width: 303px;
    }

    .footer__social {
      height: 143px;
    }

    .footer__bottom {
      flex-direction: column-reverse;
      margin-left: 16px;
      margin-right: 16px;
    }

    .copyright {
      margin-bottom: 9px;
      text-align: center;
    }
    
    .footer__icons {
      margin-top: 43px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 360px) {
  .footer {
    input {
      width: 253px;
    }
  }
}