/*Catalog - Pagination*/
.pagination {
  width: 283px;
  height: 19px;
  border: 1px solid $grey-color;
  padding: 12px 15px;
  margin-top: 18px;
  margin-bottom: 96px;

  .pagination__list {
    @include flex-center-space-between;
  }

  .pagination__item {
    @include font(300, 16px, 19px);
    text-decoration: none;
    color: $smoke-color;
  }

  .pagination__item--active {
    color: $pink-color;
  }

  .pagination__arrow {
    fill: $black-color;
    padding-top: 4px;
  }
}

@media (max-width: 340px) {
  .pagination {
    width: 200px;
    }
}